In [20]:
#Annette Alca
#AdventofCode 2024
#Day1

In [21]:
import pandas as pd

In [22]:
#### Part 1
#open file
tab = pd.read_csv('Day1A input.txt',sep='  ',header=None)
tab

<ipython-input-22-0ea00b65b8ed>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  tab = pd.read_csv('Day1A input.txt',sep='  ',header=None)

         0      1
0    85215  94333
1    24582  34558
2    98037  94333
3    75786  66247
4    45656  85863
..     ...    ...
995  23853  40439
996  53938  19555
997  18254  32811
998  86817  33438
999  78957  74568

[1000 rows x 2 columns]

In [23]:
#get left and right lists then sort
left = tab[0].tolist()
right = tab[1].tolist()
left.sort()
right.sort()

In [24]:
### Part 1 
# Calculate distances

distances=0
for i in range (len(left)):
    d = abs(left[i]-right[i])
    distances +=d
    
distances

1319616

In [19]:
### Part 2
### Calculate similarity scores
### using value_counts, left numbers are unique but right are not

similarity_score = 0
for val in left:
    count = right.count(val)
    sim = val*count
    similarity_score +=sim
    
similarity_score

27267728